@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
   font-family: "Urbanist", sans-serif;
}

@plugin "daisyui" {
  themes: light --default
  , dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-200 : #EAECED;
  --color-base-300 : #DADADA;
  --color-primary: #E0294C;
  --color-secondary: #03373D;
  --color-primary-content : #606060;
  --color-secondary-content: #CAEB66;
  --color-base-300 : #e7e7e7;
  --color-accent: #4D4D4D;
  --color-accent-content :#F5F7FA;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



.btn-primary{
  @apply btn bg-primary rounded-3xl px-8 py-6 text-xl font-bold text-secondary-content hover:bg-base-100;
}
.btn-primary-rounded{
  @apply btn bg-primary rounded-xl px-8 py-6 text-xl font-bold text-secondary-content hover:bg-base-100 hover:border-primary hover:border-2 shadow-md hover:shadow-xl;
}
.btn-primary-rounded-small{
  @apply btn bg-primary rounded-md text-lg font-bold text-secondary-content hover:bg-base-100 hover:border-primary hover:border-2 shadow-md hover:shadow-xl;
}
.btn-outline{
 @apply btn btn-outline  rounded-3xl px-8 py-6 text-xl font-bold text-primary hover:bg-primary hover:text-secondary-content
}
.btn-small{
  @apply btn btn-sm bg-primary text-secondary rounded-md shadow-md hover:bg-black transition-transform hover:scale-105 hover:text-base-100
}
.btn-small-2{
  @apply btn btn-sm hover:bg-primary
}
.btn-full{
  @apply btn w-full bg-primary text-base-100 rounded-md shadow-md hover:bg-black transition-transform hover:scale-105 hover:text-base-100
}
.navbar .active {
  @apply text-secondary font-bold bg-primary rounded-2xl
}